# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\netz98\my_project_directory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
